
	<div class="{{class}}-card">
		<a href="{{href}}" class="{{class}}-a">
			<div class="{{class}}-card-body" id="{{id}}">
				<div class="{{class}}-box-img">
					<div class="{{class}}-body-img">
						<img src="{{pictures}}" alt="">
					</div>
				</div>
				<div class="{{class}}-box-text">
					<h5 class="{{class}}-body-title"> 
						<span class="date"> {{date}} </span>
						{{title}} 
					</h5>
					<p class="{{class}}-body-text"> {{description}} </p>
				</div>
			</div>
		</a>
	</div>
